logo {
  float: left;
}
nav {
  float: right;
}
nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
nav li {
  display: inline-block;
}
html{
 font-family: 'Oxygen', sans-serif;
 font-size:16px;
 }
 body{
 margin:0;
 }
 *,
 *:before,
 *:after {
 box-sizing: border-box;
 }