<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Oxygen&display=swap" rel="stylesheet">
    <title>FredEnjoyment</title>

    <link rel="stylesheet" href="static/css/main.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<header>
  <div class="container">
    <a href="/" class="logo"></a>
    <nav>
      <ul>
        <li><a href="">Home</a></li>
        <li><a href="">About</a></li>
        <li><a href="">Info</a></li>

      </ul>
    </nav>
  </div>
</header>
<main>
<h1>Hello, grind machine</h1>
</main>
<footer>

</footer>
</body>
</html>